/*reset do css*/

* {	/*seletor mais genérico de todos*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*A propriedade CSS box-sizing é utilizada para alterar a propriedade
	padrão da box model, usada para calcular larguras (widths) e alturas 
	(heights) dos elementos. É possível usar essa propriedade para emular
	o comportamento dos navegadores (browsers) que não suportam corretamente
	a especificação da propriedade CSS box model.*/
}

:root {
	--primary-color/*variavel CSS global*/: #3a4052;
}

/*A pseudo-class CSS  :root representa o elemento root de uma árvore, 
representando o documento. Aplicado ao HTML, :root representa o elemento 
<html>  e é identico ao seletor html, exceto que sua especificidade é mais 
alta.*/

body{
	font-family: 'Source Code Pro', monospace;
	line-height: 1.5;/*Espaçamento entre as linhas*/
	background-color:  #fdfdfd;
	color: #232323;
/*background: var(--primary-color);*/
}

a {
	text-decoration: none;/*tira o underline das tags dos links*/
	color: var(--primary-color);
}

h1 {
	font-weight: 300;
	font-size: 60px;
	font-family: 'Indie Flower', cursive;
	line-height: 1.2;
	margin-bottom: 15px;
}

figure{
	text-align: center;

}
figcaption{
    font-style: italic;
	text-align: center;
}

.img-portifolio {
	height:auto;
	width: 100vh;
	margin: 10px 50px 10px;
	
}

.grid {
	display: inline-flex;
}
.grid .imagem-portifolio{
	float: left;

}
.grid p{
	font-size: 25px;
	font-family: 'Source Code Pro', monospace;
	line-height: 2em;
	color: #232323;
	text-indent: 30px;
	text-align: justify ;
	width: 500px;
	height: 180px;
}
.grid .highligted{
	line-height: 1.1em;
    display: inline-block;
	padding: 5px;
	text-align: center;
	text-indent: 0;
    font-style: normal;
    border-radius: 3px;
    color: #39339A;
    background: #C9C9F4;
}


.contato {
	text-align: center;
	transition: transform 2s;
}
.contato a {
	font-size: 3em;
	transition: transform 2s;
}

.contato a:active,
.contato a:hover {
	transform: scale(1.25);
}
.contato h1{
/*	background-color: #d3d3d3;*/
	border-bottom: 2px solid #333333;
	color: #202020;
	letter-spacing: .1em;
	margin-right:  150px;
	margin-left: 150px;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;

}
.viagem {
	margin: 30px 8em 20px;
	position: relative;
	float: left;
}
.viagem p{
	font-size: 20px;
	font-family: 'Source Code Pro', monospace;
	line-height: 1.5;
	color: #232323;
	text-indent: 30px;
	text-align: justify;
}

.showcase {
	height: 100vh; /*altura da tela - valor absoluto*/
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
		center/cover;
}

.video-container video {
	max-width: 100%;
	min-height: 100%;
  	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.content {
	z-index: 2;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	background: var(--primary-color);
	color: #fff;
	border-radius: 5px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 0.7;
	transition: transform 2s;
}

.btn:active,
.btn:hover {/*pseudo classe - qdo passar o mouse em cima do botão Read More e aumenta*/
	transform: scale(1.25);
}

.grid icons{
	transition: transform 2s;
}

@media(min-width: 800px){
	.grid {
		grid-template-columns: 380px 380px;
		justify-content: center;
	}
}
@media(min-width: 1200px){
	.grid {
		grid-template-columns: repeat(3, 380px);
		justify-content: center;
	}
}

.flip-card {
	background-color: magenta;
	perspective: 500px;
}

.card {
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;
	
}

.flip-card:hover .card {
	transform: rotateY(180deg);
}

.card-front, 
.card-back {
	left: 0;
	position: absolute;
	top:0;
	backface-visibility: hidden;
}

.card-front {
	background-color: lawngreen;
}

.card-back {
	background-color: red;
	height: 280px;
	width: 100%;
	transform: rotateY(180deg);
	
}

#about {
	padding: 40px;
	text-align: center;
}

#about p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
}

#about h2 {
	margin: 30px 0;
	color: var(--primary-color);
}
